.wrapper {
  position: fixed;
  top: 0;
  right: 0;
  padding-top: calc(env(safe-area-inset-top) + 0.75rem);
  padding-right: calc(env(safe-area-inset-right) + 0.75rem);
  z-index: 60;
}

@media (min-width: 768px) {
  .wrapper {
    padding-top: 0;
    padding-right: 0;
    margin: 1.5rem;
  }
}

.burger {
  position: relative;
  display: inline-block;
  width: 2rem;
  height: 1rem;
}
.burger::before,
.burger::after {
  width: 100%;
  height: 2px;
  content: '';
  position: absolute;
  display: block;
  background-color: currentColor;
  transition: transform 300ms cubic-bezier(0.95, 0.05, 0.795, 0.035);
}
.burger::before {
  top: 0;
}
.burger::after {
  bottom: 0;
}
.burgerActive::before {
  transform: rotate(-45deg);
  top: 50%;
}
.burgerActive::after {
  transform: rotate(45deg);
  bottom: 50%;
}

@media (max-width: 767px) {
  .burger {
    width: 1.4rem;
    height: 0.8rem;
  }
}
